// fonts
$font-title: georgia, serif;
$font-general: "Montserrat", sans-serif;
//fonts-weight
$font-weight-title: 100;

// colors
$color-background: #F9F6F7;
$color-font: black;

// efects
$shadow:0 0 0 0 rgba(0, 0, 0, 0.05), 0 32px 71px 0 rgba(0, 0, 0, 0.05),
        0 128px 128px 0 rgba(0, 0, 0, 0.04), 0 288px 173px 0 rgba(0, 0, 0, 0.03),
        0 513px 205px 0 rgba(0, 0, 0, 0.01), 0 801px 224px 0 rgba(0, 0, 0, 0);
