@use "../core/variables" as vars;

//PREVIEW IMAGEN
.img-background {
  display: flex;
  align-items: center;
  gap: 1rem;
}



.js__profile-image { //Preview grande
  width: 100%;
  height: 100%;
  min-height: 120px; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}