@use "../core/variables" as vars;

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: clamp(1.5rem, 5vw, 3rem);
  padding-top: clamp(1rem, 5vw, 3rem);
  border-top: 1px solid rgba(0, 0, 0, 0.122);
  font-size: clamp(1rem, 5vw, 2rem);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  .logo-adalab {
    width: 50px;
    height: 50px;
  }
  }
}

