.card-preview {
    background-image: url(/images/Classic.png);
    width: 32rem;
    height: 22rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu__dropdown-design{
    height: 0;
    overflow: hidden;

}
.menu__dropdown-design.open{
    height: 22rem;
    background-color: blanchedalmond;
    width: 20rem;
}

.menu__dropdown-form{
    height: 0;
    overflow: hidden;
}

.menu__dropdown-form.open{
    height: 22rem;
    background-color: blanchedalmond;
    width: 20rem;
}

.menu__dropdown-share{
    display: none;
}

.menu__dropdown-share.open{
    display: block;
    width: 20rem;
    background-color: blanchedalmond;
}