@use "../core/variables" as vars;
.card-form-main {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    flex-direction: column;
    max-width: 32rem;

    &__dropdown-design {
      display: none;
    }

    &__dropdown-design.open {
      display: block;

    }

    .design {
      .design__palette {
        .palette {
          display: flex;
          gap: 0.5rem;
          align-items: center;

      &__colors {
        display: flex;
        border: 3px solid rgb(171, 169, 169);
        gap: 3px;
        background-color: rgb(171, 169, 169);
        border-radius: 5%;

        &--classic .palette__color--one {background-color: #EDEDED;}
        &--classic .palette__color--two {background-color: #000000;}
        &--classic .palette__color--three {background-color: #000000;;}
        &--classic .palette__color--four {background-color: #EDEDED;}

        &--classic-reverse .palette__color--one {background-color:#000000;}
        &--classic-reverse .palette__color--two {background-color: #EDEDED;}
        &s--classic-reverse .palette__color--three {background-color: #000000;}
        &--classic-reverse .palette__color--four {background-color: #000000;}

        &--business .palette__color--one {background-color:#C6C6C6;}
        &--business .palette__color--two {background-color: #5F5B58;}
        &--business .palette__color--three {background-color: #1D2B36;}
        &--business .palette__color--four {background-color: #000000;}

        &--retro .palette__color--one {background-color: #EDEDED;}
        &--retro .palette__color--two {background-color: #016296;}
        &--retro .palette__color--three {background-color: #0175A4;}
        &--retro .palette__color--four {background-color: #000000;}

        &--delicate .palette__color--one {background-color:#F9D6CF;}
        &--delicate .palette__color--two {background-color: #F48DA2 ;}
        &--delicate .palette__color--three {background-color: #DEA5CE ;}
        &--delicate .palette__color--four {background-color: #000000;}

        &--cute .palette__color--one {background-color:#C4E5E0;}
        &--cute .palette__color--two {background-color: #FABDBB;}
        &--cute .palette__color--three {background-color: #F8CB82;}
        &--cute .palette__color--four {background-color: #000000;}

      }
      
      &__color {
        width: 20px;
        height: 15px;
      }
   
        }
      }
    }

    &__dropdown-form {
      display: none;
    }

    &__dropdown-form.open {
      display: block;
      background-color: blanchedalmond;
    }

    &__dropdown-share {
      display: none;
    }

    &__dropdown-share.open {
      display: block;
      background-color: blanchedalmond;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;

    .card-preview {
      background-image: url(/images/Classic.png);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      width: 100%;
      max-width: 55rem;
      aspect-ratio: 17/10;
      font-size: clamp(0.5rem, 2.89vw, 2rem);


      &__left {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .card-preview__image {
          flex: 2;
          background-image: url(/images/logo-nimalog-card.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          height: 80%;
          margin: 0 auto;
        }
        .card-preview__slogan {
          flex: 1;
          color: black;
          margin-left: 4vw;
          text-transform: uppercase;
        }
      }

      &__right {
        flex:5;
        margin-top: clamp(1.5rem, 5vw, 3rem);
        color: #EDEDED;

        .card-preview__title {
          text-align: center;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Libre Braskerville", geogia;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.09em;
        }

        .card-preview__subtitle {
          margin-top: 0.2rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.2em;
        }

        .card-preview__contact {
          margin-top: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-left: 1.8rem;
          gap: 0.5rem;
          letter-spacing: 0.15em;

          &-element {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem
          }

          &-icon {
            font-size: 0.8rem;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }
      }
    }
    
    .card-preview--classic {
    //fff
    }

    .card-preview--classic-reverse {
      background-image: url(/images/Classic-reverse.png);
       background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      width: 100%;
      max-width: 55rem;
      aspect-ratio: 17/10;
      font-size: clamp(0.5rem, 2.89vw, 2rem);

      &__left {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .card-preview__image {
          flex: 2;
          background-image: url(/images/logo-nimalog-card.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          height: 80%;
          margin: 0 auto;
        }
        .card-preview__slogan {
          flex: 1;
          color: white;
          margin-left: 4vw;
          text-transform: uppercase;
        }
      }

      &__right {
        flex:5;
        margin-top: clamp(1.5rem, 5vw, 3rem);
        color:black;

        .card-preview__title {
          text-align: center;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Libre Braskerville", geogia;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.09em;
        }

        .card-preview__subtitle {
          margin-top: 0.2rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.2em;
        }

        .card-preview__contact {
          margin-top: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-left: 1.8rem;
          gap: 0.5rem;
          letter-spacing: 0.15em;

          &-element {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem
          }

          &-icon {
            font-size: 0.8rem;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }
      }
    }

    .card-preview--business {
      background-image: url(/images/Business.png);

      &__left {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .card-preview__image {
          flex: 2;
          background-image: url(/images/logo-nimalog-card.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          height: 80%;
          margin: 0 auto;
        }
        .card-preview__slogan {
          flex: 1;
          color: black;
          margin-left: 4vw;
          text-transform: uppercase;
        }
      }

      &__right {
        flex:5;
        margin-top: clamp(1.5rem, 5vw, 3rem);
        color: #EDEDED;

        .card-preview__title {
          text-align: center;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Libre Braskerville", geogia;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.09em;
        }

        .card-preview__subtitle {
          margin-top: 0.2rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.2em;
        }

        .card-preview__contact {
          margin-top: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-left: 1.8rem;
          gap: 0.5rem;
          letter-spacing: 0.15em;

          &-element {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem
          }

          &-icon {
            font-size: 0.8rem;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }
      }
    }
    .card-preview--retro {
      background-image: url(/images/Retro.png);

      &__left {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .card-preview__image {
          flex: 2;
          background-image: url(/images/logo-nimalog-card.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          height: 80%;
          margin: 0 auto;
        }
        .card-preview__slogan {
          flex: 1;
          color: black;
          margin-left: 4vw;
          text-transform: uppercase;
        }
      }

      &__right {
        flex:5;
        margin-top: clamp(1.5rem, 5vw, 3rem);
        color: #EDEDED;

        .card-preview__title {
          text-align: center;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Libre Braskerville", geogia;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.09em;
        }

        .card-preview__subtitle {
          margin-top: 0.2rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.2em;
        }

        .card-preview__contact {
          margin-top: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-left: 1.8rem;
          gap: 0.5rem;
          letter-spacing: 0.15em;

          &-element {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem
          }

          &-icon {
            font-size: 0.8rem;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }
      }
    }
    .card-preview--delicate {
      background-image: url(/images/Delicate.png);

      &__left {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .card-preview__image {
          flex: 2;
          background-image: url(/images/logo-nimalog-card.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          height: 80%;
          margin: 0 auto;
        }
        .card-preview__slogan {
          flex: 1;
          color: black;
          margin-left: 4vw;
          text-transform: uppercase;
        }
      }

      &__right {
        flex:5;
        margin-top: clamp(1.5rem, 5vw, 3rem);
        color: #EDEDED;

        .card-preview__title {
          text-align: center;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Libre Braskerville", geogia;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.09em;
        }

        .card-preview__subtitle {
          margin-top: 0.2rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.2em;
        }

        .card-preview__contact {
          margin-top: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-left: 1.8rem;
          gap: 0.5rem;
          letter-spacing: 0.15em;

          &-element {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem
          }

          &-icon {
            font-size: 0.8rem;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }
      }
    }
    .card-preview--cute {
      background-image: url(/images/Cute.png);

      &__left {
        flex:3;
        display: flex;
        flex-direction: column;
        
        .card-preview__image {
          flex: 2;
          background-image: url(/images/logo-nimalog-card.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          width: 80%;
          height: 80%;
          margin: 0 auto;
        }
        .card-preview__slogan {
          flex: 1;
          color: black;
          margin-left: 4vw;
          text-transform: uppercase;
        }
      }

      &__right {
        flex:5;
        margin-top: clamp(1.5rem, 5vw, 3rem);
        color: #EDEDED;

        .card-preview__title {
          text-align: center;
          text-align: center;
          font-size: 1.5rem;
          font-family: "Libre Braskerville", geogia;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 0.09em;
        }

        .card-preview__subtitle {
          margin-top: 0.2rem;
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 0.2em;
        }

        .card-preview__contact {
          margin-top: 0.6rem;
          display: flex;
          flex-direction: column;
          margin-left: 1.8rem;
          gap: 0.5rem;
          letter-spacing: 0.15em;

          &-element {
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0.5rem
          }

          &-icon {
            font-size: 0.8rem;
            background-color: white;
            color: black;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

          }
        }
      }
    }
    
  }

  .button-reset {
    background-color: antiquewhite;

  }

  .button-home {
    background-color: aqua;
  }
}
