@use "../core/variables" as vars;
.card-form-main {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  .contain-card {
    .menu {
      display: flex;
      flex-direction: column;
      max-width: 69rem;

      &__button-design {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        font-family: vars.$font-title;
        width: 100%;
        height: 60px;
        gap: 0.5rem;
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        box-shadow: vars.$shadow;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }
      &__button-form {
        margin-bottom: 0.5rem;
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        font-family: vars.$font-title;
        width: 100%;
        height: 60px;
        gap: 0.5rem;
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        box-shadow: vars.$shadow;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      &__button-share {
        margin-bottom: 0.5rem;
        display: flex;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        display: flex;
        font-family: vars.$font-title;
        width: 100%;
        height: 60px;
        gap: 0.5rem;
        font-size: clamp(2rem, 5vw, 3rem);
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: none;
        box-shadow: vars.$shadow;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
      }

      &__dropdown-design {
        display: none;
      }

      &__dropdown-design.open {
        display: block;
      }

      .design {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: clamp(1rem, 5vw, 1.5rem);
        .design__palette {
          display: flex;
          flex-direction: column;
          border: none;
          margin-left: 1rem;
          .palette {
            margin-top: 0.51rem;
            margin-bottom: 0.5rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;

            &__colors {
              display: flex;
              border: 3px solid rgb(171, 169, 169);
              gap: 3px;
              background-color: rgb(171, 169, 169);
              border-radius: 5%;

              &--classic .palette__color--one {
                background-color: #ededed;
              }
              &--classic .palette__color--two {
                background-color: #000000;
              }
              &--classic .palette__color--three {
                background-color: #000000;
              }
              &--classic .palette__color--four {
                background-color: #ededed;
              }

              &--classic-reverse .palette__color--one {
                background-color: #000000;
              }
              &--classic-reverse .palette__color--two {
                background-color: #ededed;
              }
              &--classic-reverse .palette__color--three {
                background-color: #ededed;
              }
              &--classic-reverse .palette__color--four {
                background-color: #000000;
              }

              &--business .palette__color--one {
                background-color: #c6c6c6;
              }
              &--business .palette__color--two {
                background-color: #5f5b58;
              }
              &--business .palette__color--three {
                background-color: #1d2b36;
              }
              &--business .palette__color--four {
                background-color: #000000;
              }

              &--retro .palette__color--one {
                background-color: #ededed;
              }
              &--retro .palette__color--two {
                background-color: #016296;
              }
              &--retro .palette__color--three {
                background-color: #0175a4;
              }
              &--retro .palette__color--four {
                background-color: #000000;
              }

              &--delicate .palette__color--one {
                background-color: #f9d6cf;
              }
              &--delicate .palette__color--two {
                background-color: #f48da2;
              }
              &--delicate .palette__color--three {
                background-color: #dea5ce;
              }
              &--delicate .palette__color--four {
                background-color: #000000;
              }

              &--cute .palette__color--one {
                background-color: #c4e5e0;
              }
              &--cute .palette__color--two {
                background-color: #fabdbb;
              }
              &--cute .palette__color--three {
                background-color: #f8cb82;
              }
              &--cute .palette__color--four {
                background-color: #000000;
              }
            }

            &__color {
              width: clamp(20px, 5vw, 30px);
              height: clamp(15px, 5vw, 25px);
            }
          }
        }
      }

      &__dropdown-form {
        display: none;
      }

      &__dropdown-form.open {
        display: block;
      }
    }

    .preview {
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-preview {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        background-image: url(/images/Classic.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        width: 100%;
        max-width: 55rem;
        aspect-ratio: 17/10;
        font-size: clamp(0.5rem, 2.89vw, 2rem);

        &__left {
          flex: 3;
          display: flex;
          flex-direction: column;

          .card-preview__image {
            flex: 2;
            background-image: url(/images/logo-nimalog-card.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 80%;
            height: 80%;
            margin: 0 auto;
          }
          .card-preview__slogan {
            flex: 1;
            color: black;
            margin-left: 1.2em;
            text-transform: uppercase;
            font-size: clamp(0.5rem, 2.89vw, 1.8rem);
          }
        }

        &__right {
          flex: 5;
          margin-top: clamp(1.3rem, 5vw, 3rem);
          color: #ededed;

          .card-preview__title {
            text-align: center;
            text-align: center;
            font-size: clamp(1.8rem, 7vw, 5rem);
            font-family: "Libre Braskerville", georgia;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.09em;
          }

          .card-preview__subtitle {
            margin-top: 0.2rem;
            font-size: clamp(1.2rem, 5vw, 3.2rem);
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.2em;
          }

          .card-preview__contact {
            margin-top: clamp(0.4rem, 2vw, 0.9rem);
            display: flex;
            flex-direction: column;
            margin-left: clamp(1.8rem, 5vw, 5rem);
            gap: clamp(0.4rem, 2vw, 2rem);
            letter-spacing: 0.15em;

            &-element {
              list-style: none;
              display: flex;
              align-items: center;
              gap: 0.5rem;
            }

            &-icon {
              font-size: clamp(0.8rem, 3vw, 2.3rem);
              background-color: #ededed;
              color: black;
              border-radius: 50%;
              width: clamp(20px, 5vw, 65px);
              height: clamp(20px, 5vw, 65px);
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .card-preview--classic {
        //no puedo rellenar esta clase
      }

      .card-preview--classic-reverse {
        background-image: url(/images/Classic-reverse.png);

        .card-preview__image {
          background-image: url(/images/logo-nimalog-reverse-recortado.png);
        }
        .card-preview__slogan {
          color: #ededed;
        }
        .card-preview__title {
          color: #000000;
        }
        .card-preview__subtitle {
          color: black;
        }

        .card-preview__contact-element {
          color: black;
        }

        .card-preview__contact-icon {
          background-color: black;
          color: #ededed;
        }
      }

      .card-preview--business {
        background-image: url(/images/Business.png);
        .card-preview__title {
          color: #d9d9d9;
        }
        .card-preview__subtitle {
          color: #d9d9d9;
        }

        .card-preview__contact-element {
          color: #d9d9d9;
        }

        .card-preview__contact-icon {
          background-color: #d9d9d9;
          color: black;
        }
      }

      .card-preview--retro {
        background-image: url(/images/Retro.png);
        .card-preview__title {
          color: black;
        }
        .card-preview__subtitle {
          color: black;
        }

        .card-preview__contact-element {
          color: black;
        }

        .card-preview__contact-icon {
          background-color: #ededed;
          color: black;
        }
      }
      .card-preview--delicate {
        background-image: url(/images/Delicate.png);

        .card-preview__title {
          color: black;
        }
        .card-preview__subtitle {
          color: black;
        }

        .card-preview__contact-element {
          color: black;
        }

        .card-preview__contact-icon {
          background-color: #f0778c;
        }
      }
      .card-preview--cute {
        background-image: url(/images/Cute.png);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .card-preview__title {
          color: black;
        }
        .card-preview__subtitle {
          color: black;
        }

        .card-preview__contact-element {
          color: black;
        }

        .card-preview__contact-icon {
          background-color: #65462f;
          color: antiquewhite;
        }
      }
    }

    .button-reset {
      background-color: #000000;
      color: #ededed;
      min-width: 300px;
      max-width: 500px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 400;
      transition: transform 0.2s ease;
      &:hover {
        transform: scale(1.3);
      }
    }

    .form__contact input {
      background-color: rgb(153, 151, 151);
    }

    .complete {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: clamp(1rem, 5vw, 1.5em);
      .name-input {
        display: flex;
        gap: 0.5rem;
        margin-left: 1rem;
      }
      .work-input {
        display: flex;
        gap: 0.5rem;
        margin-left: 1rem;
      }
      .img-background {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-left: 1rem;
      }
      .phone-input {
        display: flex;
        gap: 0.5rem;
        margin-left: 1rem;
      }
      .phone-input {
        display: flex;
        gap: 0.5rem;
        margin-left: 1rem;
      }
      .email-input {
        display: flex;
        gap: 0.5rem;
        margin-left: 1rem;
      }
      .rrss-input {
        display: flex;
        gap: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

.complete input {
  border-radius: 50px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.2rem;
  min-width: 150px;
  max-width: 300px;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.contain-home {
  justify-items: center;
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 5rem;
    color: white;
    background-color: #000000;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
  }
}
//PREVIEW IMAGEN
.js__profile-upload-btn {
  display: none;
}

.img-background {
  display: flex;
  gap: 1rem;
  align-items: center;

  .profile-label {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    border-radius: 15px;
    justify-content: center;
    width: 280px;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: clamp(1rem, 5vw, 1.5rem);
    cursor: pointer;
  }

  .js__profile-preview {
    //Preview pequeña
    min-width: 50px;
    min-height: 50px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
  }
}

@media (min-width: 375px) and (max-width: 900px) {
  .card-form-main {
    .contain-card {
      .main {
        min-width: 25rem;
      }
      .preview {
        .card-preview {
          &__right {
            .card-preview__title {
              font-size: clamp(2.2rem, 9vw, 7rem);
            }
            .card-preview__subtitle {
              margin-top: 0.2rem;
              font-size: clamp(1.5rem, 6vw, 3.2rem);

            }

            .card-preview__contact {
              margin-top: clamp(0.4rem, 1vw, 0.9rem);

              margin-left: clamp(1.8rem, 6vw, 5rem);
              gap: clamp(0.4rem, 3vw, 2rem);


              &-icon {
                font-size: clamp(1rem, 4vw, 5rem);
                background-color: #ededed;
                color: black;
                border-radius: 50%;
                width: clamp(28px, 7vw, 65px);
                height: clamp(28px, 7vw, 65px);

                i {
                  transform: translateX(1px);
                }
              }
            }
          }
        }

        .card-preview--classic-reverse {
          background-image: url(/images/Classic-reverse.png);

          .card-preview__image {
            background-image: url(/images/logo-nimalog-reverse-recortado.png);
          }
          .card-preview__slogan {
            color: #ededed;
          }
          .card-preview__title {
            color: #000000;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: black;
            color: #ededed;
          }
        }

        .card-preview--business {
          background-image: url(/images/Business.png);
          .card-preview__title {
            color: #d9d9d9;
          }
          .card-preview__subtitle {
            color: #d9d9d9;
          }

          .card-preview__contact-element {
            color: #d9d9d9;
          }

          .card-preview__contact-icon {
            background-color: #d9d9d9;
            color: black;
          }
        }

        .card-preview--retro {
          background-image: url(/images/Retro.png);
          .card-preview__title {
            color: black;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: #ededed;
            color: black;
          }
        }
        .card-preview--delicate {
          background-image: url(/images/Delicate.png);

          .card-preview__title {
            color: black;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: #f0778c;
          }
        }
        .card-preview--cute {
          background-image: url(/images/Cute.png);
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;

          .card-preview__title {
            color: black;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: #65462f;
            color: antiquewhite;
          }
        }
      }
    }
  }
}
@media (min-width: 900px) and (max-width: 1280px) {
  .card-form-main {
    .contain-card {
      .main {
        min-width: 25rem;
      }
      .preview {
        .card-preview {
          &__right {
            .card-preview__title {
              font-size: clamp(2.2rem, 7vw, 5.7rem);
            }
            .card-preview__subtitle {
              margin-top: 0.2rem;
              font-size: clamp(1.5rem, 6vw, 4rem);

            }

            .card-preview__contact {
              margin-top: clamp(0.4rem, 1vw, 0.9rem);

              margin-left: clamp(1.8rem, 6vw, 5rem);
              gap: clamp(0.4rem, 3vw, 2rem);


              &-icon {
                font-size: clamp(1rem, 3.6vw, 4rem);
                background-color: #ededed;
                color: black;
                border-radius: 50%;
                width: clamp(28px, 7vw, 65px);
                height: clamp(28px, 7vw, 65px);

                i {
                  transform: translateX(1px);
                }
              }
            }
          }
        }

        .card-preview--classic-reverse {
          background-image: url(/images/Classic-reverse.png);

          .card-preview__image {
            background-image: url(/images/logo-nimalog-reverse-recortado.png);
          }
          .card-preview__slogan {
            color: #ededed;
          }
          .card-preview__title {
            color: #000000;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: black;
            color: #ededed;
          }
        }

        .card-preview--business {
          background-image: url(/images/Business.png);
          .card-preview__title {
            color: #d9d9d9;
          }
          .card-preview__subtitle {
            color: #d9d9d9;
          }

          .card-preview__contact-element {
            color: #d9d9d9;
          }

          .card-preview__contact-icon {
            background-color: #d9d9d9;
            color: black;
          }
        }

        .card-preview--retro {
          background-image: url(/images/Retro.png);
          .card-preview__title {
            color: black;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: #ededed;
            color: black;
          }
        }
        .card-preview--delicate {
          background-image: url(/images/Delicate.png);

          .card-preview__title {
            color: black;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: #f0778c;
          }
        }
        .card-preview--cute {
          background-image: url(/images/Cute.png);
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;

          .card-preview__title {
            color: black;
          }
          .card-preview__subtitle {
            color: black;
          }

          .card-preview__contact-element {
            color: black;
          }

          .card-preview__contact-icon {
            background-color: #65462f;
            color: antiquewhite;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1280px) {
  .card-form-main {
    .contain-card {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-left: 1rem;
      margin-bottom: 6rem;
      justify-content: center;
      align-items: center;
      .menu {
        min-width: 25rem;
      }
         .preview .card-preview__contact-icon {
          i {
            transform: translateX(2.5px);
          }
        }
    }
  }
}

@media all and (min-width: 1500px) {
  .card-form-main {
    .contain-card {
      gap: 5rem;
      margin-left: 5rem;
      margin-bottom: 6rem;
      justify-content: center;
      align-items: center;
      .menu {
        max-width: 29rem;
        min-width: 25rem;
      }
         .preview .card-preview__contact-icon {
          i {
            transform: translateX(2.5px);
          }
        }
    }
  }
}