<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/avatar.css">
    <title>Tu tarjeta</title>
</head>
<body>

<section class="card">
    <img class="card__photo" alt="Foto de la tarjeta" />
    <p class="card__number"></p>
    <h2 class="card__title"></h2>
    <p class="card__text"></p>
</section> 

<!-- <script src="../js/get-avatar.js"></script> -->
<script src="../js/card.js"></script>
</body>
</html>