<main>
    
</main>
  <nav class="menu">
    <button class="menu__button-design">Diseña</button>
    <div class="menu__dropdown-design">
      <p>Probando</p>
    </div>
    <button class="menu__button-form">Rellena</button>
    <div class="menu__dropdown-form">
      <p>Probando</p>
    </div>
    <button class="menu__button-share">Comparte</button>
    <div class="menu__dropdown-share">
      <p>Probando</p>
    </div>
  </nav>
  <section class="preview">
    <div class="preview__box">
      <div class="card-preview">
        <div class="card-preview__left">
          <div class="card-preview__image js-image">LOGO NIMALOG IMAGEN</div>
          <div class="card-preview__slogan js-slogan">Confíanos tu presentación</div>
        </div>
        <div class="card-preview__right">
          <h3 class="card-preview__title js-name">Nimalog</h3>
          <h4 class="card-preview__subtitle ja-business-sector">Marketing</h4>
          <ul class="card-preview__contact">
            <li class="card-preview__contact-elements">
              <span class="card-preview__contact-icon"></span><span class="js-phone">911-234-567</span>
            </li>
            <li class="card-preview__contact-elements">
              <span class="card-preview__contact-icon"></span><span class="js-email">nimalog@gmail.com</span>
            </li>
            <li class="card-preview__contact-elements">
              <span class=card__contact-icon></span><span class="js-web">www.nomalog.com</span>
            </li>
          </ul>
        </div>
      </div>
      <button class="button-reset">Reset</button>
    </div>
  </section>
  <button class="button-home">Home</button>
</main>
