<main>
    <h3>Rellena</h3>
    <form>
    <div>
        <div>
            <label for="name">Nombre:</label><br>
            <input type="text" name="name" placeholder="Nombre de la empresa...">
        </div>
        <div>
            <label for="work">Cargo:</label><br>
            <input type="text" name="work" placeholder="Cargo...">
        </div>
        <div>
            <label for="phone">Teléfono:</label><br>
            <input type="text" name="phone" placeholder="Teléfono la empresa...">
        </div>
        <div>
            <label for="email">Email:</label><br>
            <input type="text" name="email" placeholder="Email de la empresa..">
        </div>
        <div>
            <label for="rss">Redes Sociales:</label><br>
            <input type="text" name="rss" placeholder="Redes sociales...">
        </div>
    </div>
</form>
</main>