.action {
  text-align: center;
  margin: 30px;
}
.action__upload-btn {
  background: deeppink;
  border-radius: 15px;
  border: 0;
  box-shadow: 0 0 5px rgba(#000, .3);
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  width: 250px;
  cursor: pointer;
}
.action__hiddenField {
  /* Ocultamos el input de tipo "file" porque no podemos 
  darle los estilos que queremos */
  display: none;
}

.profile {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.card__photo {
  width: 200px !important; /* ancho de la previsualización grande */
  height: 200px !important;  /* alto de la previsualización grande */
  background-size: cover;
}
/* .js__profile-image, */
.js__profile-preview {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}
.profile__image {
  width: 300px;
  height: 300px;
}

.profile__preview {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
